<link rel="stylesheet" href="/css/_comment.css">

<div class="comment-section">
    <li id="comment-<%= comment._id %>">
        <p>
            <% if (locals.user && locals.user.id == comment.user.id){ %>
                <div class="avatar">
                    <img src="<%=comment.user.avatar%>" alt="<%=user.name%>" width="100">
                    <div>
                        <p><%=comment.user.name%></p>
                        <p>12:00 A.M | 29/08/2002</p>
                    </div>
                </div>
        <small>
            <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">X</a>
        </small>
        <% } %>
        <h3>  <%= comment.content %></h3>
        <br>
        <!-- <small>
            <%= comment.user.name %>
        </small> -->
        </p>

    </li>
</div>


<script src="/js/home_posts.js"></script>
<script src="/js/home_comment.js"></script>