
<div class="mt-8 shadow-lg p-7 rounded-lg border-2 border-grey-200 ">
    <li id="post-<%= post._id %>">
        <p>

               
            <% if (locals.user && locals.user.id==post.user.id){ %>
                <div class="flex items-center space-x-5 justify-between ">
                    <div class="flex items-center space-x-5">
                        <img class="rounded-full w-12 h-12" src="<%=post.user.avatar%>" alt="<%=user.name%>" width="100">
                        <p>
                            <%=post.user.name%>
                          
                        </p>
                    </div>
                    <small>
                        <a class="delete-post-button text-xl hover:text-red-600" href="/posts/destroy/<%= post.id %>">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </small>
                </div>
                <% } %>
     
                    <p class="mt-4">
                        <%= post.content %>
                    </p>
                    <br>
                    
        </p>
        <hr class="border-gray-400">

        <div class="inline-block space-x-16 py-3 text-xl">
            <small>
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= post.likes.length %>"
                        href="/likes/toggle/?id=<%=post._id%>&type=Post">
                        <%= post.likes.length %> <i class="bi bi-heart text-xl">Like</i>
                    </a>
                    <% }else{ %>
                        <%= post.likes.length %> <i class="bi bi-heart text-xl">Like</i>
                    <% } %>
            </small>
        </div>
        <span class=" text-xl px-10">
            
        <span> <button class="nav-toggle"><i class="far fa-comment">Comment</i></button></span>
        <span> <button class="nav-toggles" style="display: none;"><i class="far fa-comment">Comment</i></button></span>
        </span>
        
<hr class="border-gray-400">



        <div class="mt-4 comment" style="display: none;">
            <% if (locals.user){ %>
                <form action="/comments/create" id="post-<%= post._id %>-comments-form" method="POST">
                    <input class="border-2 outline-none rounded-md p-1" type="text" name="content" placeholder="Add a Comment..." required>
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <input class="bg-black p-1 cursor-pointer rounded-lg text-white font-bold hover:bg-yellow-500" type="submit" value="Add Comment">
                </form>
                <% } %>
                
                
                    <div class="post-comments-list">
                        <ul id="post-comments-<%= post._id %>">
                            <% for (comment of post.comments){%>
                                <%- include('_comment') -%>
                                    <%} %>
                        </ul>
                    </div>
        </div>

    </li>
    
</div>



<script src="<%=assetsPath('js/comment.js')%>"></script>