<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- notify -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <!-- js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
   <!-- jquery -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootsrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <!-- fontawosme Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <%- style %>
</head>

<body>
    <%- include('_header'); %>

        <main id="main-container">
            <%- body %>
        </main>

        <%- include('_footer'); %>

            <%- script %>
                <script>
       <% if (flash.success && flash.success.length > 0) { %>

                        new Noty({
                            theme: 'relax',
                            text: ' <%=flash.success %>',
                            type: 'success',
                            layout: 'topRight',
                            timeout: 1500,
                            
                        }).on('onShow', function () {
                            var audio = new Audio('/sound/success2.wav');
                            audio.play();
                        }).show();
    <% } %>    
       <% if (flash.error && flash.error.length > 0) { %>

                        new Noty({
                            theme: 'relax',
                            text: ' <%=flash.error %>',
                            type: 'error',
                            layout: 'topRight',
                            timeout: 1500
                        }).on('onShow', function () {
                            var audio = new Audio('/sound/alert.wav');
                            audio.play();
                        }).show();
    <% } %>    
                </script>
              
</body>

</html>