
<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Users / <%= title %>
</h1>

<% if(user.id == profile_user.id) { %>  
    <!-- if user matches then show form -->
        <form action="/users/update/<%=profile_user.id%>" method="POST" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name%>" required>
            <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email%>" required>
            <input type="file" name="avatar" id="" placeholder="profile photo">
            <input type="submit" value="Update">
        </form>
    
    <% }else{ %>    
        <!-- else shwo only profile info -->
        <p>
            <%= profile_user.name%>
        </p>
        <p>
            <%= profile_user.email%>
        </p>
    
<%}%>

<!-- <script src="/js/user_profile.js"></script> -->