<link rel="stylesheet" href="/css/user_profile.css">

<div class="body-header">

</div>
<main>
    <section id="about">
        <div id="avatar">
            <img src="<%=user.avatar%>" alt="<%=user.name%>" width="200">
            <label for="icon"><i class="bi bi-camera-fill"></i></label>
        </div>
    </section>


    <div class="update-profile">
        <% if(user.id==profile_user.id) { %>
            <!-- if user matches then show form -->
            <form action="/users/update/<%=profile_user.id%>" method="POST" enctype="multipart/form-data">
                <div class="input-bx">
                    <label for="fname">Edit Name</label>
                    <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name%>" required>
                </div>
                <div class="email-bx">
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email%>" required>
                </div>

                <div class="file-bx">
                    <input type="file" name="avatar" id="icon" placeholder="profile photo"
                        style="display: none ; visibility: hidde;">
                </div>
                <div class="update-bx">
                    <label>Update Image and Name</label>
                    <input type="submit" value="Update">
                </div>
            </form>

            <% }else{ %>
                <!-- else shwo only profile info -->
                <div id="user-profile">
                 <p>   <%= profile_user.name%></p>
           
                    <%= profile_user.email%>
                </div>

                <%}%>
    </div>

</main>

<!-- <script src="/js/user_profile.js"></script> -->